.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   

    
    @media screen and (min-width:320px) {
        width: 320px;
    }

    @media screen and (min-width:768px) and (max-width:1279px){
        width: 768px;
        padding-left: 33px;
        padding-right: 33px;
    }

    @media screen and (min-width:1280px){
        width: 1280px;
    }
}