@import '~node_modules/modern-normalize/modern-normalize.css';


body {
    min-width: 320px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: $font-text;
    color: $color-text;
    font-size: 16px;
    cursor: url(/src/images/cursor.png), auto;

    @media screen and (min-width:1280px) {
        font-size: 18px;
    }
}

a {
    cursor: url(/src/images/tap.png), pointer;
}

button {
    cursor: url(/src/images/tap.png), pointer;
}