.footer {
    padding-top: 32px;
    padding-bottom: 20px;
    background-color: #ffffff;

    position: relative;

}

.container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        width: 768px;
    }

    @media (min-width: 1280px) {
        width: 1280px;
    }
}

address {
    font-style: normal;
    position: relative;
    z-index: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


.footer-sm__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding: 0px;
    gap: 16px;
    

    @media (min-width: 768px) {
        margin-bottom: 60px;
    }

    @media (min-width: 1280px) {
        margin-bottom: 80px;
    }


}

.footer-sm__link {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-sm__icon {
    width: 18px;
    height: 18px;
    fill: #2E2520;
    height: 100%;
}

.contact-list {
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
        margin-right: 90px;
    }

    @media (min-width: 1280px) {
        margin-right: 320px;
    }
}

.contact-list__link {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.21;
    color: #2E2520;

}

.tel-icon {
    fill: #2E2520;
    width: 13px;
    height: 12px;
    margin-right: 4px;
}

.point-icon {
    fill: #2E2520;
    width: 11px;
    height: 13px;
    margin-right: 4px;
}

.footer-foto {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 84px;
    height: 73px;

    background-image: url(../images/WheatMob.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/WheatMob@2x.png);
    }

    @media (min-width: 768px) {
        width: 184px;
        height: 90px;
        background-image: url(../images/WheatTab.png);
        


        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/WheatTab@2x.png);
        }
    }

    @media (min-width: 1280px) {
        width: 302px;
        height: 175px;
        background-image: url(../images/WheatDerstop.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/WheatDerstop@2x.png);
        }
    }

}