.footer {
    padding-top: 32px;
    padding-bottom: 20px;
    background-color: #ffffff;

    position: relative;

}

.container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;





    @media (min-width: 768px) {
        max-width: 768px;
    }

    @media (min-width: 1200px) {
        max-width: 1200px;
    }
}

address {
    font-style: normal;
}

// .footer-sm{

// }
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



a {
    text-decoration: none;
}

.footer-sm__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding: 0px;
    gap: 16px;

    @media (min-width: 768px) {
        margin-bottom: 60px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 80px;
    }


}

.footer-sm__link {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-sm__icon {
    fill: #2E2520;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    // z-index: 10;

}

.contact-list__link {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.21;
    color: #2E2520;

}

.tel-icon {
    fill: #2E2520;
    width: 13px;
    height: 12px;
    margin-right: 4px;
}

.point-icon {
    fill: #2E2520;
    width: 11px;
    height: 13px;
    margin-right: 4px;
}

.footer-foto {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 113px;
    height: 99px;
    background-image: url(./images/WheatMob.png);
    background-size: 113px 99px;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(./images/WheatMob@2x.png);
    }

    @media (min-width: 768px) {
        width: 207px;
        height: 182px;
        background-image: url(./images/WheatTab.png);
        background-size: 207px 182px;


        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(./images/WheatTab@2x.png);
        }
    }

    @media (min-width: 1200px) {
        width: 355px;
        height: 312px;
        background-size: 318px 312px;
        background-image: url(./images/WheatDerstop.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(./images/WheatDerstop@2x.png);
        }
    }

}