.page-header {
    position: relative;
    @media(min-width: 768px) and (max-width: 1279px){
        padding-top: 33px;
    }
}

.logo {
   width: 96px;
   height: 44px;

   @media screen and (min-width:768px){
    width: 96px;
    height: 48px;
   }
   @media screen and (min-width:1280px){
    width: 158px;
    height: 81px;
   }
}
.logo-menu {
    width: 190px;
    height: 85px;
}

/*Навигация*/
.navigation__link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    color: #2E2520;
    text-decoration: none;

    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width:1280px){
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        line-height: 1.22;
        color: #2E2520;

    }

    &:hover {
        color: #AB816C;
    }

}

/*Главная навигация*/
.nav {
 padding-top: 8px;
 display: flex;
 justify-content: end;

    @media screen and (min-width:768px){
        justify-content: space-between;
        padding: 0;
    }
    @media screen and (min-width:1280px){
        justify-content: flex-start;
        align-items: center;
        padding-top: 38px;
    }
 
}

.menu-container {
 z-index: 1;

  @media screen and (max-width:1279px) {
        justify-content: start;
        text-align: center;
    
        position: absolute;
        position: fixed;
        // display: none;
        visibility: hidden;
        background: rgba(254, 243, 228, 0.9);
        backdrop-filter: blur(2px);
        top:0;
        left:0;
       
        width: 100%;
        height: 100%;
      
       
        
            &.is-open {
            //  display: block;
            visibility: visible;
            
        }

    }
  
}



.logo-menu {
 margin-top: 18px;
    @media screen and (min-width:1280px){
        display: none;
    }
  
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding:0;  

    @media screen and (min-width:1280px){
        flex-direction: row;
        margin: 0;
        padding: 0;
       
    }
    @media screen and (min-width:1280px){
        margin-left: 162px;


    }
    
    
}
.navigation__item {

  
   
    list-style: none;
    &:not(:last-child) {
        margin-bottom: 45px;
    }
    @media screen and (min-width:768px){
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    @media screen and (min-width:1280px){
        &:not(:last-child) {
            margin-bottom:0;
            margin-right: 20px;
        }
    }

}
.mobile-nav {
    display:flex;
   
}

/*Меню Бургер Кнопка*/
.menu-burger {
    z-index: 3;
    border: none;
   
       right: 10;
       top:20px;
    background-color: transparent;

    @media(max-width: 767px){
        margin-left: 62px;
    }

    @media screen and (min-width:1280px) {
        display: none;
    }
   
   & .icon-cross {
    display: none;
   }

   &.is-open .icon-cross {
    display: block;
   
   }

   &.is-open .icon-menu {
    display: none;
   }
   &.is-open {
       position: fixed;
       right: 0;
       top:20px;
      
       
   }

}
.icon-cross {
    padding: 0;
    margin: 0;
    width: 18px;
    height: 18px;
}
.icon-menu {
    padding: 0;
    margin-left: auto;
}
.page-header__donuts {
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    @media screen and (min-width:768px){
        display: none;
        
    }
}
.page-header__donuts--tablet {
    display: none;
    @media screen and (min-width:768px){
        display: block;
        position: absolute;
        top:0;
        right: 90px;
    }
    @media screen and (min-width:1280px){
        display: none;
    }

}
.page-header__donuts--desktop {
  display: none;
  @media screen and (min-width:1280px){
      display: block;
      position: absolute;
      top:0;
      right: -80px;
  }
}

.item-color {
    color: #876655;
    @media screen and (min-width:1280px){
        color:#2E2520;
    }
    &:hover {
        color: #AB816C;
    }

}