h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

%visually-visible {
    position: static;
    width: 100%;
    height: auto;
    margin: 0;
    white-space: unset;
    clip-path: inset(0);
    overflow: visible;
}

.reviews-section {
    background-color: $color-bg;
    min-width: 320px;
    padding-top: 20px;

    .container {
        margin: 0 auto;
        padding: 0 15px;
        width: 320px;
    
        @media screen and (min-width: 768px) {            
            width: 768px;
        }
    
        @media screen and (min-width: 1280px) {
            width: 1280px;
        }
    }

    &__title {        
        text-align: center;
    
        font-family: $font-title;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
    
        color: $color-text;
    }

    &__list {
        display: flex;        
        justify-content: space-between;
        min-height: 580px;
        margin-top: 20px;
    }

    &__item {
        @extend %visually-hidden;        
    }

    &__item.swiper-slide-active {
        @extend %visually-visible;
        margin: 0 5px;
    }
        
    &__item + .swiper-slide-active {
        transform: translateX(290px);
    }

    &__item:nth-of-type(2) + .swiper-slide-active {
        transform: translateX(580px);
    }

    @media screen and (min-width: 768px) {
        
        padding-top: 50px;        

        &__list {            
            margin: 60px auto 0;
            width: 100%;
            min-height: 525px;
            text-align: center;
        }

        &__item.swiper-slide {
            position: static;
            width: 100%;
            height: auto;            
            white-space: unset;
            clip-path: inset(0);
            overflow: visible;
            margin-top: -76px;
            transform: translateX(2045px);
        }

        &__item.swiper-slide-active {
            margin: 0 5px;
            transform: translateX(15px);
        }
        
        &__item.swiper-slide-next {
            position: static;
            width: 100%;
            height: auto;
            margin: 0;
            white-space: unset;
            clip-path: inset(0);
            overflow: visible;

            margin-right: 0;
            margin-top: -76px;            
        }                

        &__item.swiper-slide-next + &__item:last-child {
            position: static;
            width: 100%;
            height: auto;
            margin: 0 auto;
            white-space: unset;
            clip-path: inset(0);
            overflow: visible;

            margin-top: -76px;
            transform: translateX(-845px);
        }

        &__item.swiper-slide-active + &__item:last-child {
            transform: translateX(-472px);
        }

        &__item:nth-of-type(1) + &__item.swiper-slide-next {
            transform: translateX(-145px);
        }

        &__item:nth-of-type(2) + &__item.swiper-slide-next {
            transform: translateX(440px);
        }

        &__item.swiper-slide-prev:first-of-type {
            position: static;
            width: 100%;
            height: auto;
            margin: 0 auto;
            white-space: unset;
            clip-path: inset(0);
            overflow: visible;
            transform: translateX(755px);
            margin-top: -76px;
        }

        &__item.swiper-slide-prev:nth-of-type(2) {
            position: static;
            width: 100%;
            height: auto;
            margin: 0 auto;
            white-space: unset;
            clip-path: inset(0);
            overflow: visible;
            transform: translateX(1345px);
            margin-top: -76px;
        }

        &__item:first-of-type + .swiper-slide-active {
            transform: translateX(600px);
        }
        
        &__item:nth-of-type(2) + .swiper-slide-active {
            transform: translateX(1187px);
        }        
    }

    @media screen and (min-width: 1280px) {

        padding-top: 77px;
        
        &__title {
            font-size: 36px;
            line-height: 1.8;
        }

        &__list {
            margin-top: 178px;
            min-height: 594px;
        }
        
                &__item.swiper-slide {                    
                    margin-top: -143px;
                    transform: translateX(3372px);
                }
        
                &__item.swiper-slide-active {
                    margin: 0 5px;            
                    transform: translateX(125px);
                }
        
                &__item.swiper-slide-next {
                    margin-top: -143px;
                }
        
                &__item.swiper-slide-next+&__item:last-child {        
                    margin-top: -143px;
                    transform: translateX(-1200px);
                }
        
                &__item.swiper-slide-active+&__item:last-child {
                    transform: translateX(-472px);
                }
        
                &__item:nth-of-type(1)+&__item.swiper-slide-next {
                    transform: translateX(-130px);
                }
        
                &__item:nth-of-type(2)+&__item.swiper-slide-next {
                    transform: translateX(828px);
                }
        
                &__item.swiper-slide-prev:first-of-type {
                    transform: translateX(1347px);
                    margin-top: -143px;
                }
        
                &__item.swiper-slide-prev:nth-of-type(2) {                  
                    transform: translateX(2312px);
                    margin-top: -143px;
                }
        
                &__item:first-of-type+.swiper-slide-active {
                    transform: translateX(1090px);
                }
        
                &__item:nth-of-type(2)+.swiper-slide-active {
                    transform: translateX(2052px);
                }
        
        // &__item--prev {
        //     margin-top: -143px;
             
        // }        

        // &__item--next {
        //     margin-top: -143px;
            
        // }
    }
}

.article {    
    text-align: center;
    font-family: $font-text;
    color: $color-text;    

    &__rate {
        display: flex;
        justify-content: center;
    }
    
    &__icon-star {
        width: 24px;
        height: 24px;
        margin-top: 8px;
    }
    
    &__icon-star:not(:last-child) {
        margin-right: 4px;
    }

    &__title {
        margin-top: 8px;

        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
    }


    &__text {
        padding-top: 8px;
        padding-bottom: 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    }    

    @media screen and (min-width: 768px) {        

        &__photo {            
            min-width: 152px;
        }
        
        .reviews-section__item.swiper-slide-active &__photo {
            width: 336px;
            margin: 0 auto;
        }

        &__text {
            display: none;
            width: 704px;            
        }

        .reviews-section__item.swiper-slide-active &__text {
            display: block;
            padding-top: 20px;
        }
    }

    @media screen and (min-width: 1280px) {        

        &__photo {
            min-width: 285px;
        }
        
        .reviews-section__item.swiper-slide-active &__photo {
            width: 394px;
        }

        &__title {
            font-size: 16px;
            line-height: 1.25;
        }

        &__text {
            width: 1000px;
            font-size: 18px;
            line-height: 1.22;
        }
    }
}
