h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reviews-section {
    min-width: 320px;
    padding-top: 20px;

    .container {
        margin: 0 auto;
        padding: 0 15px;
        width: 320px;
    
        @media screen and (min-width: 768px) {            
            width: 768px;
        }
    
        @media screen and (min-width: 1280px) {
            width: 1280px;
        }
    }

    &__title {        
        text-align: center;
    
        font-family: $font-title;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
    
        color: $color-text;
    }

    &__list {
        display: flex;        
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 32px;
    }

    &__item {        
        display: none;
    }

    &__item--active {
        display: block;
        margin: 0 10px;
    }
    
    @media screen and (min-width: 768px) {
        
        padding-top: 50px;

        &__list {
            margin-top: 60px;            
        }

        &__item {
            display: block;
        }

        &__item--active {
            margin-left: -184px;
            margin-right: -184px;
        }
        
        &__item--prev {
            display: block;
            margin-left: 17px;
            margin-top: -76px;
        }
        
        &__item--next {
            display: block;
            margin-right: 17px;
            margin-top: -76px;
        }
    }

    @media screen and (min-width: 1280px) {

        padding-top: 77px;
        
        &__title {
            font-size: 36px;
            line-height: 1.8;
        }

        &__list {
            margin-top: 178px;            
        }
        
        &__item--active {
            margin-left: -272px;
            margin-right: -272px;
        }

        &__item--prev {
            margin-top: -143px;
            margin-left: 111px;            
        }        

        &__item--next {
            margin-top: -143px;
            margin-right: 111px;
        }
    }
}

.article {    
    text-align: center;
    font-family: $font-text;
    color: $color-text;    

    &__rate {
        display: flex;
        justify-content: center;
    }
    
    &__icon-star {
        width: 24px;
        height: 24px;
        margin-top: 8px;
    }
    
    &__icon-star:not(:last-child) {
        margin-right: 4px;
    }

    &__title {
        margin-top: 8px;

        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.21;
    }

    .reviews-section__item--active &__title {
        margin-bottom: 8px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    }

    .reviews-section__item--next &__text {        
        display: none;
    }

    .reviews-section__item--prev &__text {        
        display: none;
    }

    @media screen and (min-width: 768px) {        

        &__photo {
            width: 152px;
        }
        
        .reviews-section__item--active &__photo {
            width: 336px;
            margin: 0 auto;
        }

        &__text {
            width: 704px;            
        }

        .reviews-section__item--active &__title {
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 1280px) {        

        &__photo {
            width: 285px;
        }
        
        .reviews-section__item--active &__photo {
            width: 394px;
        }

        &__title {
            font-size: 16px;
            line-height: 1.25;
        }

        &__text {
            width: 1000px;
            font-size: 18px;
            line-height: 1.22;
        }
    }
}
.background {
   
       
        width: 100%;
        background-image: 
        url("../images/header-bg/bgt-mobile.png");
        background-repeat: no-repeat;
        background-size: contain;
        
      @media screen and (min-width:768px) and (max-width: 1279px) {
       
        width: 100%;
        background-image: 
        url("../images/header-bg/bgt-tablet.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
      @media screen and (min-width: 1280px) {
       
        width: 100%;
        background-image: 
        url("../images/header-bg/bgt-desktop.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
       
}