.swiper {
    position: relative;    
}

.swiper-pagination {
    text-align: center;

    font-family: $font-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;

    color: $color-button-bg;

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.25;
    }
}

.swiper-button-prev::after {
    content: "";
    position: absolute;
    left: 84px;
    bottom: 8px;
    padding: 10px 0;
    width: 35px;        
    border-bottom: 1px solid $color-button-bg;

    @media screen and (min-width: 768px) {
        left: 307px;
    }

    @media screen and (min-width: 1280px) {
        left: 565px;
        bottom: 9px;
    }
}

.swiper-button-next::after {
    content: "";
    position: absolute;
    left: 169px;
    bottom: 8px;
    padding: 10px 0;
    width: 35px;    
    border-bottom: 1px solid $color-button-bg;

    @media screen and (min-width: 768px) {
        left: 392px;
    }

    @media screen and (min-width: 1280px) {
        left: 650px;
        bottom: 9px;
    }
}