// ***Palette***

$color-bg: #FEF3E4;
$color-text: #2E2520;
$color-black: #000000;
$color-currentpage: #876655;
$color-button-bg: #AB816C;
$color-white: #FFFFFF;
$color-reg-form: #FFFFF9;
$color-placeholder: #AB816C80;
$color-icon-fill: #674D40;
$color-menu-bg:#FEF3E4E5;

// ***Fonts***

$font-text: Montserrat;
$font-title: Caveat Brush;