@import "./vars";
@import './common';
@import './program';
@import './reviews-section';
@import './swiper';
@import './aboutus';
@import './contact';
@import './registration';
@import './footer';
@import "./container";
@import "./header";
@import "./hero";
// @import "./top-bg";
// @import "./bot-bg";