<section id="contact" class="contact">
    <div class="container">
        <form name="Question" class="contact__form">
            <h2 class="contact__title">Contact</h2>
            <p class="contact__text">We will answer any question!</p>
            <ul class="contact__list">
                <li class="contact__item">
                    <label for="mail" class="contact__label">
                        <input type="email" name="Question" id="mail" placeholder="Email" class="contact__input"
                            required>
                    </label>
                </li>
                <li class="contact__item">
                    <label for="text">
                        <input type="text" name="Question" id="text" placeholder="Type your question"
                            class="contact__input" required>
                    </label>
                </li>
            </ul>
            <button type="submit" class="button">Send</button>
        </form>
    </div>
</section>