<section id="contact" class="contact">
    <div class="container">
        <form name="Question" class="contact__form">
            <h2 class="contact__title">Contact</h2>
            <p class="contact__text">We will answer any question!</p>
            <input type="email" name="Question" placeholder="Email" class="contact__input"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+$" title="Адреса повинна мати @" required autocomplete="off">
            <input type="text" name="Question" placeholder="Type your question" class="contact__input" required
                autocomplete="off">
            <button type="submit" class="contact__button">Send</button>
        </form>
    </div>
</section>