
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oh my DONUT</title>
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
</head>

<!-- попробую с хеад, потом через инклюд-->
<body>
    <footer class="footer">
        <div class="container">
            <div class="footer-sm">
                <ul class="footer-sm__list">
                    <li class="footer-sm__item">
                        <a href="#" class="footer-sm__link">
                            <svg class="footer-sm__icon"> <!--твитер-->
                                <use href="./src/images/sprite.svg#icon-footer-phone"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-sm__item">
                        <a href="#" class="footer-sm__link">
                            <svg class="footer-sm__icon">
                                <use href="./src/images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-sm__item">
                        <a href="#" class="footer-sm__link">
                            <svg class="footer-sm__icon"> <!--фейсбук-->
                                <use href="./src/images/sprite.svg#"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <address>
                <ul class="contact-list">
                    <li class="contact-list__item">
                        <a href="tel:9102228855" class="contact-list__link">
                            <svg class="tel-icon">
                                <use href="/src/images/sprite.svg#icon-footer-phone"></use>
                            </svg>
                            (910)222-8855
                        </a>
                    </li>
                    <li class="contact-list__item">
                        <a href="https://goo.gl/maps/cnXAjWNmHvYd2eKY9" class="contact-list__link">
                            <svg class="point-icon">
                                <use href="/src/images/sprite.svg#icon-footer-location"></use>
                            </svg>
                            New York
                        </a>
    
                    </li>
    
    
                </ul>
            </address>
            <div class="footer-foto"></div>
    
        </div>
    
    </footer>

</body>

</html>