<div class="container">
                <ul class="footer-sm__list">
                    <li class="footer-sm__item">
                        <a href="https://twitter.com/" target="_blank" class="footer-sm__link">
                            <svg class="footer-sm__icon">
                                <use href="./images/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-sm__item">
                        <a href="https://www.instagram.com/" target="_blank" class="footer-sm__link">
                            <svg class="footer-sm__icon">
                                <use href="./images/sprite.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-sm__item">
                        <a href="https://www.facebook.com/" target="_blank" class="footer-sm__link">
                            <svg class="footer-sm__icon">
                                <use href="./images/sprite.svg#icon-face"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            <address>
                <ul class="contact-list">
                    <li class="contact-list__item">
                        <a href="tel:9102228855" class="contact-list__link">
                            <svg class="tel-icon">
                                <use href="./images/sprite.svg#icon-footer-phone"></use>
                            </svg>
                            (910)222-8855
                        </a>
                    </li>
                    <li class="contact-list__item">
                        <a href="https://goo.gl/maps/cnXAjWNmHvYd2eKY9" target="_blank" class="contact-list__link">
                            <svg class="point-icon">
                                <use href="./images/sprite.svg#icon-footer-location"></use>
                            </svg>
                            New York
                        </a>
    
                    </li>
    
    
                </ul>
            </address>
            <div class="footer-foto"></div>
        </div>