<div class="page-header">

    <div class="container">
        <picture class="page-header__donuts">
           <source srcset="./images/header/donuts-mobile@1.png 1x, ./images/header/donuts-mobile@2.png 2x"> 
           <img src="./images/header/donuts-mobile@1.png" alt="donuts">
        </picture> 
        <picture class="page-header__donuts--tablet">
            <source srcset="./images/header/donuts-tablet@1.png 1x, ./images/header/donuts-tablet@2.png 2x"> 
            <img src="./images/header/donuts-tablet@1.png" alt="donuts">
         </picture> 
         <picture class="page-header__donuts--desktop">
            <source srcset="./images/header/donuts-desktop@1.png 1x, ./images/header/donuts-desktop@2.png 2x"> 
            <img src="./images/header/donuts-desktop@1.png" alt="donuts">
         </picture> 

        <div class="nav">
            <a href="#">
                <svg class="logo">
                    <use href="./images/header/cпрайт/symbol-defs.svg#logo-mobile"></use>
                </svg>
            </a>
            <button type="button" 
                class="menu-burger" 
                data-menu-button
                aria-expanded="false"  
                aria-controls="menu-container"> 
                    <svg width="30px" height="16px" aria-label="Переключатель мобильного меню">
                        <use class="icon-cross" href="./images/header/cпрайт/symbol-defs.svg#icon-close"></use>
                        <use class="icon-menu" href="./images/header/cпрайт/symbol-defs.svg#icon-menu"></use>
                    </svg>
            </button>
        
            <div class="menu-container" data-menu>
              <a href="./index.html">
                <svg class="logo-menu">
                  <use  href="./images/header/cпрайт/symbol-defs.svg#logo-menu"></use>
                </svg>
              </a>
                <ul class="navigation">
                    <li class="navigation__item"><a href="#about-us" class="navigation__link"><span class="item-color">About us</span></a></li>
                    <li class="navigation__item"><a href="#program" class="navigation__link">Program</a></li>
                    <li class="navigation__item"><a href="#reviews" class="navigation__link">Reviews</a></li>
                    <li class="navigation__item"><a href="#contact" class="navigation__link">Contacts</a></li>
                </ul>
           
               
            </div>
        </div>
    </div>
    
        <!--Hero-->
        <section class="hero">

            <div class="container">
                <h1 class="hero__title">Donut Masterclass<br> with the Donut King</h1>
                <p class="hero__subtitle">Hosted by Eva Green</p>
    
<<<<<
            <a href="#registration"><button class="hero__button">Register</button></a>

    
            <ul class="socials">
        
                <li class="socials__icon">
    

                    <a href="#" class="socials__links">
                    
                        <svg class="socials__twiter">
                            <use href="./images/header/cпрайт/symbol-defs.svg#icon-twiter"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__icon">
    
                    <a href="#" class="socials__links">

                        <svg class="socials__instagram">
                            <use href="./images/header/cпрайт/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__icon">
    
<<<<
                    <a href="#" class="socials__links">

                    <a href="https://www.facebook.com/" target="_blank" class="socials__links">
 
                        <svg class="socials__facebook">
                            <use href="./images/header/cпрайт/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
            
            </div>

        </section>
    
</div>