<header class="page-header">
    <div class="container">
        <div class="nav">
            <!-- <img src="./images/logo/logo.png" alt="Логотип" width="96" height="44.08"> -->

             <button type="button" class="menu-burger" data-menu-button
              aria-expanded="false"  aria-controls="menu-container">
       
             <svg width="30px" height="16px" aria-label="Переключатель мобильного меню">
               <!-- <use class="icon-cross" href="./images/svg/symbol-defs.svg#close"></use>
               <use class="icon-menu" href="./images/svg/symbol-defs.svg#menu"></use> -->
             </svg>
             </button>
        
            <div class="menu-container" data-menu>

                <!-- <img class="logo-menu" src="./images/logo/logo-menu.png" alt="Логотип" width="190" height="85"> -->
                <ul class="navigation">
                    <li class="navigation__item"><a href="#" class="navigation__link">About us</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Program</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Reviews</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">Contacts</a></li>
                </ul>
               
            </div>
        </div>
        

        
        <h1 class="title">Donut Masterclass<br> with the Donut King</h1>
        <h3 class="subtitle">Hosted by Eva Green</h3>

        <button class="button">Register</button>

        <ul class="socials">
    
            <li class="socials__icon">

                <a href="#" class="socials__links">
                    <svg class="socials__twiter">
                        <!-- <use href="./images/svg/symbol-defs.svg#twiter"></use> -->
                    </svg>
                </a>
            </li>
            <li class="socials__icon">

                <a href="#" class="socials__links">
                    <svg class="socials__instagram">
                        <!-- <use href="./images/svg/symbol-defs.svg#instagram"></use> -->
                    </svg>
                </a>
            </li>
            <li class="socials__icon">

                <a href="#" class="socials__links">
                    <svg class="socials__facebook">
                        <!-- <use href="./images/svg/symbol-defs.svg#facebook"></use> -->
                    </svg>
                </a>
            </li>
        </ul>
    </div>
   
</header>