<section class="program-section">
    <div class="container">
        <h2 class="program-section__title">Program</h2>
        <div class="program-section__description">
            <p class="program-section__text">
                Indulge in this immersive sweet treat experience with
                The Chef Donut Queen in her New York donut shop!
            </p>
            <ul>
                <li>> A stand up history of donuts</li>
                <li>> Make 3 donut flavors of your choice</li>
                <li>> Enjoy all-you-can-eat donuts</li>
                <li>> Cocktail pairings and coffee included</li>
                <li>> Photoshoot by professional photographer</li>
                <li>> Secret receipt of cooking from Eva</li>
                <li>> All products are included in the price</li>
            </ul>
            <p class="program-section__more-text" data-more-text>
                Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional in donuts cooking!
            </p>
            <button type="button" data-more-btn>Read more</button>
        </div>


    </div>

</section>
