<section class="program-section">
    <div class="container">
        <h2 class="program-section__title">Program</h2>
        <div class="program-section__description">
            <p class="program-section__text">
                Indulge in this immersive sweet treat experience with
                The Chef Donut Queen in her New York donut shop!
            </p>
            <ul class="program-section__list">
                <li>> A stand up history of donuts</li>
                <li>> Make 3 donut flavors of your choice</li>
                <li>> Enjoy all-you-can-eat donuts</li>
                <li>> Cocktail pairings and coffee included</li>
                <li>> Photoshoot by professional photographer</li>
                <li>> Secret receipt of cooking from Eva</li>
                <li>> All products are included in the price</li>
            </ul>
            <input type="checkbox" id="read-more" hidden/>
            <p class="program-section__extra-text">
                Come with your dear people and friends
                and you will spend an unforgettable time and
                will become a real professional in donuts cooking!
            </p>
            <label for="read-more" class="read-more">
                <span class="more">Read more</span>
                <span class="less">Less</span>
            </label>

        </div>
         <div class="program-section__info">
             <ul class="program-section__list">
                <li class="program-section__info--box">
                    <p>Type of the event</p>
                    <p>Cooking classes</p>
                    <svg class="program-section__info--icon" width="19px" height="19px">
                        <use href="./images/sprite.svg#icon-program-classes"></use>
                    </svg>
                </li>
                <li class="program-section__info--box">
                    <p>Number of guests</p>
                    <p>1 to 20</p>
                    <svg class="program-section__info--icon" width="19px" height="19px">
                        <use href="./images/sprite.svg#icon-program-number"></use>
                    </svg>
                </li>
                <li class="program-section__info--box">
                    <p>Time of the event</p>
                    <p>18:30 (2.5 hours)</p>
                    <svg class="program-section__info--icon" width="19px" height="19px">
                        <use href="./images/sprite.svg#icon-program-time"></use>
                    </svg>
                </li>
                <li class="program-section__info--box">
                    <p>The host speaks</p>
                    <p>English, French</p>
                    <svg class="program-section__info--icon" width="19px" height="19px">
                        <use href="./images/sprite.svg#icon-program-host"></use>
                    </svg>
                </li>
             </ul>

        </div>
    </div>
</section>