<section class="program">
    <div class="container program__container">
        <div class="program__description">
            <h2 class="program__title">Program</h2>
                <p class="program__text">
                    Indulge in this immersive sweet treat experience with
                    The Chef Donut Queen in her New York donut shop!
                </p>
                <ul class="list-style program__list">
                    <li class="program__list-item"> A stand up history of donuts</li>
                    <li class="program__list-item"> Make 3 donut flavors of your choice</li>
                    <li class="program__list-item"> Enjoy all-you-can-eat donuts</li>
                    <li class="program__list-item"> Cocktail pairings and coffee included</li>
                    <li class="program__list-item"> Photoshoot by professional photographer</li>
                    <li class="program__list-item"> Secret receipt of cooking from Eva</li>
                    <li class="program__list-item"> All products are included in the price</li>
                </ul>
                <input type="checkbox" id="read-more" hidden/>
                <p class="extra-text">
                    Come with your dear people and friends
                    and you will spend an unforgettable time and
                    will become a real professional in donuts cooking!
                </p>
                <label for="read-more" class="read-more">
                    <span class="more">Read more</span>
                    <span class="less">Less</span>
                </label>
        </div>
            <ul class="list-style program__events">
                <li class="program__events-item program__events-item--donut1">
                    <p class="program__events-item--caption">Type of the event</p>
                    <p class="program__events-item--text">Cooking classes</p>
                    <svg class="program__events-item--icon" width="19px" height="19px">
                        <use href="./images/sprite.svg#icon-program-classes"></use>
                    </svg>
                </li>
                <li class="program__events-item program__events-item--donut2">
                    <p class="program__events-item--caption">Number of guests</p>
                    <p class="program__events-item--text">1 to 20</p>
                    <svg class="program__events-item--icon" width="19px" height="19px">
                        <use href="./images/sprite.svg#icon-program-number"></use>
                    </svg>
                </li>
                <li class="program__events-item program__events-item--donut3">
                    <p class="program__events-item--caption">Time of the event</p>
                    <p class="program__events-item--text">18:30 (2.5 hours)</p>
                    <svg class="program__events-item--icon" width="19px" height="19px">
                        <use href="./images/sprite.svg#icon-program-time"></use>
                    </svg>
                </li>
                <li class="program__events-item program__events-item--donut4">
                    <p class="program__events-item--caption">The host speaks</p>
                    <p class="program__events-item--text">English, French</p>
                    <svg class="program__events-item--icon" width="19px" height="19px">
                        <use href="./images/sprite.svg#icon-program-host"></use>
                    </svg>
                </li>
            </ul>
    </div>
</section>