<section id="reviews" class="reviews-section">
    <div class="container">
        <h2 class="reviews-section__title">Reviews</h2>
        <div class="swiper mySwiper">
            <ul class="list reviews-section__list swiper-wrapper">
                    <li class="reviews-section__item swiper-slide">
                        <article class="article">
                                <img class="article__photo" srcset="./images/john.png 1x, ./images/john@2x.png 2x" src="./images/john.png"
                                width="280" alt="Photo: John">
                            <div class="article__rate">
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star"></use>
                                </svg>
                            </div>
                            <h3 class="article__title">John</h3>
                            <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Omnis, molestias odit quasi ipsa tempore maiores libero,
                                adipisci deleniti cupiditate necessitatibus hic eos exercitationem placeat
                                inventore excepturi mollitia dolores. Natus, saepe.
                            </p>
                        </article>
                    </li>
                    <li class="reviews-section__item swiper-slide">
                        <article class="article">

                                <img class="article__photo" srcset="./images/will.png 1x, ./images/will@2x.png 2x" src="./images/will.png"
                                width="280" alt="Photo: Will">
                            <div class="article__rate">
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                            </div>
                            <h3 class="article__title">Will</h3>
                            <p class="article__text">
                                Last time I have visited a cooking course by Eva
                                I was impressed with the way she explained everything to people.
                                You can be sure you will manage to cook a delicious dish even if it is your first time in
                                the kitchen! Thank you so much for the masterclass!
                                Looking forward to the next one and highly recommend it to everyone!
                            </p>
                        </article>
                    </li>
                    <li class="reviews-section__item swiper-slide">
                        <article class="article">
                            <img class="article__photo" srcset="./images/elisabeth.png 1x, ./images/elisabeth@2x.png 2x"
                                src="./images/elisabeth.png" width="280" alt="Photo: Elisabeth">
                            <div class="article__rate">
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                                <svg class="article__icon-star" width="22" height="21">
                                    <use href="./images/sprite.svg#icon-star-filled"></use>
                                </svg>
                            </div>
                            <h3 class="article__title">Elisabeth</h3>
                            <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Omnis, molestias odit quasi ipsa tempore maiores libero,
                                adipisci deleniti cupiditate necessitatibus hic eos exercitationem placeat
                                inventore excepturi mollitia dolores. Natus, saepe.
                            </p>
                        </article>
                    </li>
            </ul>
            <div class="swiper-button-next">
                <svg width="35" height="1">
                    <use href="./images/sprite.svg#icon-paginator"></use>
                </svg>
            </div>
            <div class="swiper-button-prev">
                <svg width="35" height="1">
                    <use href="./images/sprite.svg#icon-paginator"></use>
                </svg>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>