<section class="container reviews-section">
    <h2 class="reviews-section__title">Reviews</h2>
    <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
        <ul class="list reviews-section__list">
            <li class="reviews-section__item">
                <img srcset="./images/john.png 1x, ./images/john@2x.png 2x" src="./images/john.png" width="280"
                    alt="Photo: John">
                <div class="reviews-section__rate">
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star"></use>
                    </svg>
                </div>
                <article class="article">
                    <h3 class="article__title">John</h3>
                    <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Omnis, molestias odit quasi ipsa tempore maiores libero,
                        adipisci deleniti cupiditate necessitatibus hic eos exercitationem placeat
                        inventore excepturi mollitia dolores. Natus, saepe.
                    </p>
                </article>
            </li>
            <li class="reviews-section__item">
                <img srcset="./images/will.png 1x, ./images/will@2x.png 2x" src="./images/will.png" width="280"
                    alt="Photo: Will">
                <div class="reviews-section__rate">
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                </div>
                <article class="article">
                    <h3 class="article__title">Will</h3>
                    <p class="article__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the
                        kitchen!
                        <br>Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to
                        everyone!
                    </p>
                </article>
            </li>
            <li class="reviews-section__item">
                <img srcset="./images/elisabeth.png 1x, ./images/elisabeth@2x.png 2x" src="./images/elisabeth.png" width="280"
                    alt="Photo: Elisabeth">
                <div class="reviews-section__rate">
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                    <svg class="reviews-section__icon-star" width="22" height="21">
                        <use href="./images/sprite.svg#icon-star-filled"></use>
                    </svg>
                </div>
                <article class="article">
                    <h3 class="article__title">Elisabeth</h3>
                    <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Omnis, molestias odit quasi ipsa tempore maiores libero,
                        adipisci deleniti cupiditate necessitatibus hic eos exercitationem placeat
                        inventore excepturi mollitia dolores. Natus, saepe.
                    </p>
                </article>
            </li>
        </ul>
        <!-- <div class="swiper-wrapper" id="swiper-wrapper-7a6ca5d951d893d2" aria-live="polite"
            style="transition-duration: 0ms; transform: translate3d(-1536px, 0px, 0px);">
            <div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 9" style="width: 1536px;">Slide 1</div>
            <div class="swiper-slide swiper-slide-active" role="group" aria-label="2 / 9" style="width: 1536px;">Slide 2
            </div>
            <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 9" style="width: 1536px;">Slide 3</div>
            <div class="swiper-slide" role="group" aria-label="4 / 9" style="width: 1536px;">Slide 4</div>
            <div class="swiper-slide" role="group" aria-label="5 / 9" style="width: 1536px;">Slide 5</div>
            <div class="swiper-slide" role="group" aria-label="6 / 9" style="width: 1536px;">Slide 6</div>
            <div class="swiper-slide" role="group" aria-label="7 / 9" style="width: 1536px;">Slide 7</div>
            <div class="swiper-slide" role="group" aria-label="8 / 9" style="width: 1536px;">Slide 8</div>
            <div class="swiper-slide" role="group" aria-label="9 / 9" style="width: 1536px;">Slide 9</div>
        </div> -->
        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
            aria-controls="swiper-wrapper-7a6ca5d951d893d2" aria-disabled="false"></div>
        <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"
            aria-controls="swiper-wrapper-7a6ca5d951d893d2" aria-disabled="false"></div>
        <div class="swiper-pagination swiper-pagination-fraction swiper-pagination-horizontal"><span
                class="swiper-pagination-current">2</span>/<span class="swiper-pagination-total">15</span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</section>